<div id="{{alertId}}" class="toast bg-{{alertColor}} text-white" role="alert" data-delay="2000" style="position: absolute; right: 30px; top: 30px; min-width: 300px; z-index: 10000;">
  <div class="toast-body">
    {{alertText}}
  </div>
</div>