<div class="row">
  <div class="col-sm-12 mb-2">
    <span class="font-weight-bold" id="jobId"></span>
  </div>
  <div class="col-sm-12 mb-3">
    <div class="d-flex">
      <span class="mr-5">
        <div class="text-xs">Finished on:</div>
        <span id="jobFinishedOn"></span>
      </span>
      <span>
        <div class="text-xs">Attempts:</div>
        <span id="jobAttemptsMade"></span>
      </span>
    </div>
  </div>
  <div class="col-sm-12 mb-2">
    <button class="btn btn-sm btn-danger shadow mb-1">
      <i class="fas fa-times mr-1"></i>
      Remove
    </button>
    <button class="btn btn-sm btn-primary shadow mb-1">
      <i class="fas fa-redo mr-1"></i>
      Retry
    </button>
    <button class="btn btn-sm btn-primary shadow mb-1">
      <i class="fas fa-qrcode mr-1"></i>
      Details
    </button>
    <button class="btn btn-sm btn-primary shadow mb-1">
      <i class="fas fa-file-export mr-1"></i>
      Export
    </button>
  </div>
  <div class="col-sm-12 mb-2">
    Reason for failure:
    <pre><code>Testetetsets</code></pre>
  </div>
  <div class="col-sm-12 mb-2">
    Stacktraces:
    <pre><code>Testetetsets</code></pre>
  </div>
  <div class="col-sm-12 mb-2">
    Data:
    <pre><code>Testetetsets</code></pre>
  </div>
  <div class="col-sm-12 mb-2">
    Logs:
    <pre><code>Testetetsets</code></pre>
  </div>
</div>